## Back-End
/Back-End/node_modules
## end of Back-End

## Front-End
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Front-End/lavan/node_modules
/Front-End/lavan/.pnp
/Front-End/lavan/.pnp.js

# testing
/Front-End/lavan/coverage

# production
/Front-End/lavan/build

# misc
/Front-End/lavan/.DS_Store
/Front-End/lavan/.env.local
/Front-End/lavan/.env.development.local
/Front-End/lavan/.env.test.local
/Front-End/lavan/.env.production.local

/Front-End/lavan/npm-debug.log*
/Front-End/lavan/yarn-debug.log*
/Front-End/lavan/yarn-error.log*
## end of Front-End